@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?p3tglt");
  src: url("fonts/icomoon.eot?p3tglt#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?p3tglt") format("truetype"), url("fonts/icomoon.woff?p3tglt") format("woff"), url("fonts/icomoon.svg?p3tglt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-phone-square:before {
  content: "\f098";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-envelope-square:before {
  content: "\f199";
}

html, body {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

hr {
  border: 0px;
  height: 1px;
  background: rgba(150, 150, 150, 0.4);
  width: 50%;
  margin-bottom: 50px;
}

.hero {
  position: relative;
  z-index: -1;
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 500px;
  background-attachment: fixed;
  padding: 200px 0px;
}

.hero h1 {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Julius Sans One", sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 450px;
  border: 5px solid rgba(255, 255, 255, 0.9);
  line-height: 1;
  padding-top: 5px;
}

.logo-lockup {
  text-align: center;
  margin-top: -150px;
  overflow: hidden;
  height: 260px;
}

.logo-lockup .logo {
  margin: 0 auto;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background-color: white;
}

.logo-lockup .logo img {
  padding-top: 55px;
}

.menu, .showNavbar {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu ul, .showNavbar ul {
  list-style-type: none;
  margin: -110px 50px 0px;
  padding: 0;
  overflow: hidden;
}

.menu ul li, .showNavbar ul li {
  text-align: center;
  display: inline-block;
  padding: 0 40px;
}

.menu ul li a, .showNavbar ul li a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu ul li a:hover, .showNavbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu .left, .showNavbar .left {
  float: left;
}

.menu .right, .showNavbar .right {
  float: right;
}

.showNavbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: none;
}

.showNavbar ul {
  margin-top: 0px;
}

.showNavbar ul li {
  padding: 0;
}

.showNavbar ul li img {
  display: inline-block;
  margin: 8px 10px;
  max-height: 32px;
}

.showNavbar ul li p {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 14px;
  left: 120px;
  cursor: default;
}

.showNavbar .left a {
  padding: 0;
}

#sobre {
  text-align: center;
  padding-top: 100px;
}

#sobre .sobre-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  width: 500px;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  margin-bottom: -50px;
}

#sobre .sobre-wrap .avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url("../img/avatar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#sobre .sobre-wrap .desc {
  text-align: left;
}

#sobre .sobre-wrap .desc p {
  color: rgba(91, 88, 61, 0.75);
  font-style: italic;
}

#sobre h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
  font-size: 42px;
}

#sobre .bio {
  margin: 100px 0px;
}

#sobre .bio p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
}

#sobre .picwindow1, #sobre .picwindow2 {
  height: 200px;
  background-image: url("../img/picwindow1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
}

#sobre .picwindow1 {
  background-image: url("../img/picwindow1.jpg");
}

#sobre .picwindow2 {
  background-image: url("../img/picwindow2.jpg");
}

#trabalho {
  text-align: center;
  padding-top: 100px;
}

#trabalho h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
  font-size: 42px;
}

#trabalho .intro {
  margin: 60px 0px 120px;
}

#trabalho .intro p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: justify;
}

#trabalho .categorias {
  height: 250px;
  margin-bottom: 100px;
}

#trabalho .categorias .cat1, #trabalho .categorias .cat2, #trabalho .categorias .cat3, #trabalho .categorias .cat4, #trabalho .categorias .cat5 {
  display: block;
  float: left;
  position: relative;
  width: 20%;
  padding-top: 20%;
  overflow: hidden;
  cursor: pointer;
  height: 250px;
}

#trabalho .categorias .cat1 .overlay, #trabalho .categorias .cat2 .overlay, #trabalho .categorias .cat3 .overlay, #trabalho .categorias .cat4 .overlay, #trabalho .categorias .cat5 .overlay {
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  height: 25%;
  background: rgba(204, 204, 156, 0.3);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-top: 16px;
}

#trabalho .categorias .cat1 .overlay strong, #trabalho .categorias .cat2 .overlay strong, #trabalho .categorias .cat3 .overlay strong, #trabalho .categorias .cat4 .overlay strong, #trabalho .categorias .cat5 .overlay strong {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

#trabalho .categorias .cat1 .overlay a:hover, #trabalho .categorias .cat2 .overlay a:hover, #trabalho .categorias .cat3 .overlay a:hover, #trabalho .categorias .cat4 .overlay a:hover, #trabalho .categorias .cat5 .overlay a:hover {
  text-decoration: none;
}

#trabalho .categorias .cat1:hover .overlay, #trabalho .categorias .cat2:hover .overlay, #trabalho .categorias .cat3:hover .overlay, #trabalho .categorias .cat4:hover .overlay, #trabalho .categorias .cat5:hover .overlay {
  position: absolute;
  top: 75%;
  right: 0px;
  left: 0px;
  cursor: pointer;
}

#trabalho .categorias .cat1 {
  background-image: url("../img/cats/Pessoas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#trabalho .categorias .cat2 {
  background-image: url("../img/cats/Paisagens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#trabalho .categorias .cat3 {
  background-image: url("../img/cats/Nocturnas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#trabalho .categorias .cat4 {
  background-image: url("../img/cats/Cidades.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#trabalho .categorias .cat5 {
  background-image: url("../img/cats/Perspectivas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#contacto {
  text-align: center;
  padding-top: 100px;
}

#contacto h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.9);
  font-size: 42px;
}

#contacto .contact-wrap {
  margin: 75px 0px 50px;
}

#contacto .contact-wrap a {
  padding: 0px;
  margin: 0px 20px;
}

#contacto .contact-wrap a:hover {
  text-decoration: none;
}

#contacto .contact-wrap a span {
  display: inline-block;
  font-size: 72px;
  padding: 0px;
}

#contacto .contact-wrap a .icon-facebook-square {
  color: rgba(59, 90, 154, 0.7);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-facebook-square:hover {
  color: #3b5a9a;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-instagram {
  color: rgba(79, 131, 171, 0.7);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-instagram:hover {
  color: #4f83ab;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-envelope-square {
  color: rgba(215, 195, 52, 0.7);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-envelope-square:hover {
  color: #d7c334;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-phone-square {
  color: rgba(75, 184, 74, 0.7);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-wrap a .icon-phone-square:hover {
  color: #4bb84a;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#contacto .contact-form {
  margin: 0 auto 100px;
  width: 40%;
}

#contacto .contact-form .form-control {
  margin: 15px 0px;
}

#footer {
  position: relative;
  text-align: center;
  height: 330px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.8);
}

#footer .links-wrap {
  padding-top: 50px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
}

#footer .links-wrap ul {
  display: block;
  margin-right: 37px;
  list-style-type: none;
}

#footer .links-wrap ul li {
  text-align: center;
  display: inline-block;
  padding: 0 5px;
}

#footer .links-wrap ul li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#footer .links-wrap ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#footer .mailphone-wrap {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-style: italic;
  line-height: 1;
}

#footer .mailphone-wrap p {
  margin: 0px 0px 20px;
  cursor: default;
}

#footer .copyright-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
}

#footer .copyright-wrap a {
  color: rgba(255, 255, 255, 0.3);
}

#footer .copyright-wrap a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

@media (max-width: 1200px) {
  .menu ul {
    margin: -110px 25px 0px;
  }
  .menu ul li {
    padding: 0 25px;
  }
}

@media (max-width: 1040px) {
  .logo-lockup {
    margin-top: -100px;
    height: 200px;
  }
  .logo-lockup .logo {
    width: 260px;
    height: 260px;
  }
  .logo-lockup img {
    max-width: 200px;
    margin-top: -15px;
  }
  .menu ul {
    margin: -100px 15px 0px;
  }
  .menu ul li {
    padding: 0 15px;
  }
  .menu .left {
    margin-left: 25px;
  }
  .menu .left li {
    padding: 0 25px;
  }
  #contacto .contact-form {
    width: 70%;
  }
}

@media (max-width: 880px) {
  .menu ul {
    margin: -100px 0px 0px;
  }
  .menu ul li {
    padding: 0;
  }
  .menu .left {
    margin-left: 25px;
  }
  .menu .left li {
    padding: 0 5px;
  }
  #trabalho .categorias .cat1, #trabalho .categorias .cat2 {
    width: 50%;
  }
  #trabalho .categorias .cat3, #trabalho .categorias .cat4 {
    width: 50%;
  }
  #trabalho .categorias .cat5 {
    width: 100%;
    margin-bottom: 100px;
  }
}

@media (max-width: 740px) {
  .menu, .showNavbar {
    display: none;
  }
  #contacto .contact-wrap span {
    padding: 0px 10px;
  }
  #contacto .contact-form {
    width: 90%;
  }
  #footer .links-wrap ul li {
    padding: 0px 0px;
  }
  #footer .links-wrap ul li a {
    padding: 14px 12px;
  }
}

@media (max-width: 630px) {
  #footer .links-wrap {
    font-size: 11px;
  }
  #footer .links-wrap ul li a {
    padding: 14px 6px;
  }
}

@media (max-width: 540px) {
  .hero h1 {
    font-size: 48px;
    width: 300px;
    border: 4px solid rgba(255, 255, 255, 0.9);
  }
  #sobre h1, #trabalho h1 {
    font-size: 32px;
  }
  #sobre .sobre-wrap {
    display: block;
    width: 100%;
  }
  #sobre .sobre-wrap .desc {
    margin-top: 20px;
    text-align: center;
  }
  #sobre .bio p {
    font-size: 14px;
  }
  #sobre .picwindow1, #sobre .picwindow2 {
    background-attachment: initial;
  }
  #trabalho .intro p {
    font-size: 14px;
  }
  #contacto .contact-wrap a {
    margin: 0px;
  }
  #contacto .contact-wrap a span {
    margin: 0px 5px;
  }
  #footer {
    height: 355px;
  }
  #footer hr, #footer .mailphone-wrap {
    display: none;
  }
  #footer .links-wrap {
    padding-top: 25px;
    display: inline-block;
    font-size: 12px;
  }
  #footer .links-wrap ul li {
    display: block;
  }
  #footer .links-wrap ul li a {
    padding: 14px 16px;
  }
}
