extends includes/_layout

block hero
  include includes/_hero
      
block navbar
  include includes/_navbar
  
block content
  include includes/_sobre
  hr
  include includes/_trabalho
  hr
  include includes/_contacto

block footer
  //to do
