extends includes/_layout

block content
  #content
    .row
      .col-md-12
        .featured
          h1 Em destaque
          p.lead Esta publicação está em destaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus perferendis cupiditate quod perspiciatis? Debitis sequi deserunt soluta, provident quo. Dolor mollitia quos illum magnam at quas, consectetur sed totam aspernatur!

    .row
      .col-md-9
        .posts-wrap
          | @foreach ($posts as $post)
          .post
            h2: a(href='#'){{ $post->title }}
            p {{ $post->body }}
            .criado-por
              p 
                a(href!="{{ route('posts.show', $post->id) }}") #
                time.post-created-at(datetime!="{{ $post->created_at->toAtomString() }}")  {{ $post->created_at->format('j-m-Y H:i') }}
            hr
          | @endforeach
          .text-center
            | {!! $posts->links() !!}
      .col-md-3
        .sidebar
          .most-recent
            h4 Mais recentes
            ul
              li
                a(href='#') Publicação 1
              li
                a(href='#') Publicação 2
              li
                a(href='#') Publicação 3
              li
                a(href='#') Publicação 4
          .categories
            h4 Categorias
            ul
              li
                a(href='#') Categoria 1
              li
                a(href='#') Categoria 2
              li
                a(href='#') Categoria 3
