.logo-lockup
  .logo
    img(src='img/logo.png', alt='Marco Gil - Fotografia')

navbar.menu
  ul.left
    li
      a(href='#') Blog
    li
      a(href='#sobre') Sobre
  ul.right
    li
      a(href='#trabalho') Trabalho
    li
      a(href='#contacto') Contacto
