#sobre      
  h1 Fotógrafo, escritor, contador de histórias
  
  .sobre-wrap
    .avatar
    .desc
      p Marco Gil
      p Aldeia de São Francisco de Assis
      p Covilhã, Portugal
  
  .container
    .col-md-1
    .col-md-10
      .bio
        p <strong>Era Outono, não sabia ainda que as cores das estações do ano também eram fundamentais para fotografar,</strong> mas foi nessa altura que eu e a fotografia mudámos a vida um do outro. Normalmente existem motivos para que realizemos as coisas, naquele dia só achei que o sol tinha uma tonalidade diferente, que incidia sobre uma paisagem em tons de laranja e que aquele momento deveria ser eternizado. Fui buscar a máquina que já costumava andar comigo pelo encantamento natural com que dois amigos se fazem acompanhar. Não sabia, sequer, que fotografar aquele instante iria prender-me a milhares de outros. O vício apoderou-se de imediato e a magia da fotografia nasceu de uma forma avassaladora. Cruzei a paixão, a magia, os sentidos (os cinco), a vivência e adquiri um poder observacional diferente, muito próprio de quem fotografa com o coração.
    .col-md-1
    
  .picwindow1
  
  .container
    .col-md-1
    .col-md-10
      .bio
        p Dali em diante a minha forma de ver o mundo foi outra, criei histórias, vi o que existia para lá do que observava, olhei para as pessoas e para uma vida que viviam, por vezes pouco importava se eram as reais, o fundamental é que sempre me transportaram para outras.
        p Nasceu também um fascínio por fotografar pessoas, procurei incessantemente rostos, sentia que lhes fotografava a alma, que lhes despia os sentimentos e que lhe dava uma outra vida para além das deles. Desde olhares vazios a outros preenchidos por amor, sentia que fotografá-los num instante das vidas deles era como intervalar o tempo.
        p Sempre que pego na máquina tento verdadeiros instantes; instantes que respirem memórias, porque as memórias existem, vivem-se e até se sentem. Vivo e fotografo de emoções, sem horários, com paixão, sem limites. Por vezes roubo horas ao tempo para fazer mais e melhor, porque sei que cada imagem será eterna e irrepetível.
        p Perpetuar as imagens e atribuir-lhes estórias, as minhas, que são as deles, é um caminho que sigo, tenha ele curvas, abismos ou mesmo rectas, sei que no final sempre teremos um destino.
    .col-md-1
    
  .picwindow2
  
  .container
    .col-md-1
    .col-md-10
      .bio
        p Através da fotografia embalo o tempo, conto histórias em vez de horas, tento colher nos instantes, sem lhe reconhecer os limites, porque é com o tempo sem tempo que nos embevecemos, com os retratos da alma que nos deixamos ir, seguindo a lente que me diz ser efémera na captação do momento e eterna na memória que dele decorre.
        p Por vezes procuro o acaso premeditado pelo enquadramento do olhar ou pelo tempo que não tem lapso nem eclipse, ou a antecipação, a surpresa e às vezes um rasgo único ou desconcertante, a isto tudo, tento ser um leitor de almas,ou um fazedor de sonhos, um criador de instantes ou até instigador de momentos; o dom do olhar é a complexidade de um mundo irrepetível  em harmonia, impacto e reflexão, cor e objecto. É assim para mim a fotografia, é assim que a faço, com as histórias que preenchem as imagens.
    .col-md-1
