#trabalho
  h1 O meu trabalho
  
  .container
    .col-md-1
    .col-md-10
      .intro
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aspernatur voluptatum voluptate ipsam adipisci, dolorem debitis sint minus necessitatibus atque, doloremque magnam sit aut repudiandae id, qui doloribus cumque. Modi.
    .col-md-1
  
  .categorias
    .cat1
      .overlay
        a(href='#')
          strong Pessoas
    .cat2
      .overlay
        a(href='#')
          strong Paisagens
    .cat3
      .overlay
        a(href='#')
          strong Nocturnas
    .cat4
      .overlay
        a(href='#')
          strong Cidades
    .cat5
      .overlay
        a(href='#')
          strong Perspectivas
