//- links
- var linkLogo = '#top'
- var link1 = '#'
- var link2 = '#sobre'
- var link3 = '#trabalho'
- var link4 = '#contacto'

//- menus navbar
- var menu1 = 'Blog'
- var menu2 = 'Sobre'
- var menu3 = 'Trabalho'
- var menu4 = 'Contacto'

//- images
- var logo = 'img/logo.png'
- var miniLogo = 'img/minilogo.png'

//- categories
- var cat1 = 'Pessoas'
- var cat2 = 'Paisagens'
- var cat3 = 'Nocturnas'
- var cat4 = 'Cidades'
- var cat5 = 'Perspectivas'

//- contacto
- var facebook = 'https://www.facebook.com/MarcoGilFotografia'
- var instagram = 'https://www.instagram.com/marcogilini/'
- var email = 'mailto:marcosergioluisgil@gmail.com'
- var phone = 'callto:+351964297582'

- var facebookUser = 'facebook.com/MarcoGilFotografia'
- var instagramUser = 'instagram.com/marcogilini'
- var emailUser = 'marcosergioluisgil@gmail.com'
- var phoneUser = '+351 964 297 582'
