//links
- var blog = '#'
- var sobre = '#sobre'
- var trabalho = '#trabalho'
- var contacto = '#contacto'

//menus navbar
- var menu1 = 'Blog'
- var menu2 = 'Sobre'
- var menu3 = 'Trabalho'
- var menu4 = 'Contacto'

//images
- var logo = 'img/logo.png'
