#contacto
  text-align: center
  padding-top: 100px

  h1
    margin: 0
    color: $heading
    font-size: 42px

  .contact-wrap
    margin: 75px 0px 50px

    a
      padding: 0px
      margin: 0px 20px

      &:hover
        text-decoration: none

      &:active
        text-decoration: none

      span
        display: inline-block
        font:
          size: 72px
        padding: 0px

      .icon-facebook-square
        color: $facebook
        &:hover
          color: opacify($facebook, 1)

      .icon-instagram
        color: $instagram
        &:hover
          color: opacify($instagram, 1)

      .icon-envelope-square
        color: $mail
        &:hover
          color: opacify($mail, 1)

      .icon-phone-square
        color: $phone
        &:hover
          color: opacify($phone, 1)

  .contact-form
    margin: 0 auto 100px
    width: 40%

    .form-control
      padding: 20px
      margin: 15px 0px
