@media(max-width: $super-xxl-break)
  .hero
    background:
      size: auto 500px

@media (max-width: $xxl-break)
  .menu
    ul
      margin: -110px 25px 0px

      li
        padding: 0 25px

@media (max-width: $xl-break)
  .logo-lockup
    margin-top: -100px
    height: 200px

    .logo
      +size(260px)

    img
      max-width: 200px
      margin-top: -15px

  .menu
    ul
      margin: -100px 15px 0px

      li
        padding: 0 15px

    .left
      margin-left: 25px

      li
        padding: 0 25px

  #contacto
    .contact-form
      width: 70%

@media (max-width: $l-break)
  .menu
    ul
      margin: -100px 0px 0px

      li
        padding: 0

    .left
      margin-left: 25px

      li
        padding: 0 5px

  #sobre
    .picwindow1, .picwindow2
      background:
        attachment: initial

  #trabalho
    .categorias
      .cat1, .cat2
        width: 50%
      .cat3, .cat4
        width: 50%
      .cat5
        width: 100%
        margin-bottom: 100px

@media (max-width: $m-break)
  .menu, .showNavbar
    display: none

  .mobile
    display: block

  #contacto
    .contact-wrap
      span
        padding: 0px 10px
    .contact-form
      width: 90%

  #footer
    .links-wrap
      ul
        li
          padding: 0px 0px

          a
            padding: 14px 12px

@media (max-width: $m-s-break)
  #footer
    .links-wrap
      font:
        size: 11px
      ul
        li
          a
            padding: 14px 6px

@media (max-width: $s-break)
  .hero
    h1
      font-size: 48px
      width: 300px
      border: 4px solid $logo-color

  #sobre, #trabalho
    h1
      font-size: 32px

  #sobre
    .sobre-wrap
      display: block
      width: 100%

      .desc
        margin-top: 20px
        text-align: center

    .bio
      p
        font-size: 14px

  #trabalho
    .intro
      p
        font-size: 14px

  #contacto
    .contact-wrap
      a
        margin: 0px
        span
          margin: 0px 5px

  #footer
    height: 355px

    hr, .mailphone-wrap
      display: none

    .links-wrap
      padding-top: 25px
      display: inline-block
      font:
        size: 12px

      ul
        li
          display: block
          a
            padding: 14px 16px
