#trabalho
  text-align: center
  padding-top: 100px

  h1
    margin: 0
    color: $heading
    font-size: 42px

  .intro
    margin: 60px 0px 95px

    p
      color: $paragraph
      font-size: 16px
      letter-spacing: 1px
      line-height: 2
      text-align: justify

  .categorias
    overflow: auto
    margin-bottom: 100px

    .cat1, .cat2, .cat3, .cat4, .cat5
      display: block
      float: left
      position: relative
      width: 20%
      padding-top: 20%
      overflow: hidden
      cursor: pointer
      height: 250px
      +transition(0.3s)

      .overlay
        +position(absolute, 100%, 0px, null, 0px)
        height: 25%
        background: $overlay
        +transition(0.3s)
        padding-top: 16px

        strong
          color: $logo-color
          font:
            family: $secondary-font
            size: 24px
          text-transform: uppercase

      &:hover .overlay
        +position(absolute, 75%, 0px, null, 0px)
        cursor: pointer

    .cat1
      background:
        image: url('../img/cats/'+ $cat1img)
        size: cover
        repeat: no-repeat
        position: center center

    .cat2
      background:
        image: url('../img/cats/'+ $cat2img)
        size: cover
        repeat: no-repeat
        position: center center

    .cat3
      background:
        image: url('../img/cats/'+ $cat3img)
        size: cover
        repeat: no-repeat
        position: center center

    .cat4
      background:
        image: url('../img/cats/'+ $cat4img)
        size: cover
        repeat: no-repeat
        position: center center

    .cat5
      background:
        image: url('../img/cats/'+ $cat5img)
        size: cover
        repeat: no-repeat
        position: center center


  .catopen-wrap
    display: none
    position: relative
    z-index: 3

    .closeBtn
      color: $navbar-color
      margin: 0
      +position(absolute, 12px, 20%, null, null)
      +size(30px)
      +bradius(4px)
      padding: 2px
      background: $close-btn
      font:
        size: 20px
      cursor: pointer
      z-index: 2
      +transition(0.3s)

      &:hover
        background: opacify($close-btn, 0.2)
        +transition(0.3s)

    .cat1open, .cat2open, .cat3open, .cat4open, .cat5open
      +position(relative, 0, 0, null, 0)
      display: none

      .catDesc-wrap
        width: 75%
        margin: 0 auto

        h1
          margin: 0
          color: $category-heading
          font-size: 42px

        p
          width: 75%
          margin: 20px auto
          color: $category-paragraph
          font-size: 16px
          letter-spacing: 1px
          line-height: 2
          text-align: center

      .pic-wrap
        width: 80%
        margin: 0 auto

        .pic
          display: inline-block
          margin: 40px 30px
          +size(150px)
          overflow: hidden
          +bradius(1px)
          box-shadow: 0 0 0 10px $bg, 0 0 0 11px $pic-border
          cursor: pointer
          +transition(box-shadow 0.5s)

          img
            max-width: 100%

          p
            display: none

          &:hover
            box-shadow: 0 0 0 10px $bg, 0 0 0 11px $pic-border, 0px 0px 2px 13px $navbar-shadow
            +transition(0.3s)

#selected
  opacity: 1
  +transition(0.5s)

#notSelected
  opacity: 0.7
  +transition(0.5s)

#myModal
  z-index: 10000

  .modal-body
    position: relative
    padding: 0

    img
      max-width: 100%

    .loc
      color: $category-paragraph
      text-align: right
      margin: 5px 10px
      font:
        size: 12px

    span
      position: absolute
      color: $quote
      left: 20px
      font:
        size: 90px
      z-index: 1

    .desc
      margin: 20px auto
      padding: 30px
      color: $paragraph
      font-size: 16px
      letter-spacing: 1px
      line-height: 1.5
      text-align: justify
      text-indent: 20px
      z-index: 2

      br
        line-height: 2.5

  .modal-footer
    text-align: center

    .previous, .next
      display: none

    .previous
      +position(absolute, null, null, 15px, 20px)

    .next
      +position(absolute, null, 20px, 15px, null)
