//fonts
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One)
@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,700)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic)

$primary-font: "Cabin", sans-serif
$secondary-font: "Open Sans", sans-serif
$hero-font: "Julius Sans One", sans-serif

//colours
$hr-color: rgba(150,150,150,0.4)
$logo-color: rgba(255,255,255,0.9)
$navbar-bg: rgba(255,255,255,1)
$navbar-color: rgba(0,0,0,0.6)
$navbar-hover: rgba(0,0,0,0.1)
$heading: rgba(0,0,0,0.9)
$paragraph: rgba(0,0,0,0.8)
$overlay: rgba(204,204,156,0.3)

//media queries
$xxl-break: 1200px
$xl-break: 1040px
$l-break: 880px
$m-break: 740px
$s-break: 540px
