#upload
  margin: 20px

  form
    .form-group
      .radio
        p
          margin-bottom: 0

    .left, .right
      display: inline-block
      width: 40%

    .right
      textarea
        margin: 50px auto 0

  label
    margin: 20px 0 0

  #fileToUpload, #thumbToUpload
    margin: 5px 20px

  .btn
    margin: 20px auto
    display: block
