.content
  .featured
    position: relative
    margin: 50px auto

    hr
      width: 100%
      margin: 5px 0
      background: $featured-border

    .img-wrap
      height: 500px
      overflow: hidden

      img
        margin-top: -20%
        max-width: 100%

    .featured-post-wrap
      margin: 0 auto
      +position(absolute, null 0 60px 0)
      width: 70%
      text-align: justify
      color: $featured-text

      h2
        font:
          family: $blog-font
          size: 48px
        margin: 0

      p
        font:
          family: $primary-font
          size: 20px
          weight: 300
        margin: 0 0 30px

      .read-more
        color: $featured-text
        background: transparentize($read-more, 0.1)
        text-transform: uppercase
        text-decoration: none
        font:
          family: $primary-font
          size: 24px
          weight: 300
        border-radius: 0px
        padding: 10px 30px

        &:hover
          background: $read-more

        &:active
          background: transparentize($read-more, 0.1)

#content
  .featured
    background: $featured
    padding: 50px 100px
    margin: 20px 50px 50px
    text-align: justify
    border-radius: 5px

    h1
      margin: 0 0 20px
      font:
        size: 60px
        family: $primary-font

    p
      font:
        family: $primary-font

  .posts-wrap
    margin: 0 0 100px
    .post
      margin: 30px 50px
      text-align: justify

      h1
        margin: 0 0 15px
        font:
          size: 48px
        color: $heading

      p
        color: $paragraph

      .criado-por
        font-size: 14px
        text-align: left

  .sidebar
    margin: 30px 0 0
    border-left: 1px solid $vr-color
    padding: 20px 30px

    .most-recent, .categories
      margin: 20px 0 50px

    dl
      dt
        color: $heading
        font-weight: normal
      dd
        color:

  .margin-top-20
    margin-top: 20px

  .edit-form
    margin: 35px

#create
  .form-wrap
    .btn
      margin: 15px 0 100px
