@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,700);
html, body {
  font-size: 16px;
}

#upload {
  margin: 20px;
}

#upload form .form-group .radio p {
  margin-bottom: 0;
}

#upload form .left, #upload form .right {
  display: inline-block;
  width: 40%;
  float: left;
}

#upload form .right {
  margin: 20px;
}

#upload form .right textarea {
  margin: 20px auto 0;
}

#upload label {
  margin: 20px 0 0;
}

#upload #fileToUpload, #upload #thumbToUpload {
  margin: 5px 20px;
}

#upload .btn {
  margin: 20px;
  display: inline-block;
}

#upload .previewZone {
  font-family: "Cabin", sans-serif;
  margin: 50px auto;
  padding: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  clear: both;
  display: block;
  width: 500px;
  background: #eee;
}

#upload .previewZone br {
  line-height: 2.5;
}
