@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,700);
html, body {
  font-size: 16px;
}

html hr, body hr {
  border: 0px;
  height: 1px;
  background: lightgray;
  width: 75%;
}

#upload {
  margin: 20px;
}

#upload form .form-group .radio p {
  margin-bottom: 0;
}

#upload form .left, #upload form .right {
  display: inline-block;
  width: 40%;
  float: left;
}

#upload form .right {
  margin: 20px;
}

#upload form .right textarea {
  margin: 20px auto 0;
}

#upload label {
  margin: 20px 0 0;
}

#upload #fileToUpload, #upload #thumbToUpload {
  margin: 5px 20px;
}

#upload .btn {
  margin: 20px;
  display: inline-block;
}

#upload .previewZone {
  font-family: "Cabin", sans-serif;
  margin: 50px auto;
  padding: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  clear: both;
  display: block;
  width: 500px;
  background: #eee;
}

#upload .previewZone br {
  line-height: 2.5;
}

#delete {
  margin: 20px;
}

#delete .sel-wrap {
  width: 200px;
}

#delete .results .pic-wrap {
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
}

#delete .results .pic-wrap img {
  margin: 10px 20px 0;
  max-width: 100px;
}

#delete .results .pic-wrap p {
  text-align: center;
}

#delete .results .pic-wrap #delBtn {
  max-width: 100px;
}
